.shop .hidden {
    display: none;
}

.shop h1 {
    padding-top: 4rem;
    padding-bottom: 2rem;
    font-size: var(--font-size-xxxl);
}

.shop {
    display: flex;
    justify-content: center;
    align-items: center;
}

.shop .end {
    padding-top: 4rem;
    font-size: var(--font-size-md);
}

.shop-filter-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: var(--font-size-sm);
}

.shop-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

.shop-filter-option option {
    font-size: var(--font-size-sm);
}

.shop-sort {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
}

