.product {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
    overflow: hidden;
}

.product-breadcrums {
    display: flex;
    align-self: self-start;
    gap: 0.25rem;
    font-size: var(--font-size-sm);
    text-wrap: nowrap;
}

.product-breadcrums img {
    width: 1rem;
    height: 1rem;
    align-self: center;
    transform: rotate(270deg);
}

.product a {
    text-decoration: none;
}

.product a:hover {
    text-decoration: underline;
}

.product-details {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.product-details-main-img-wrapper {
    width: 100%;
    position: relative;
}

.product-details-main-img {
    width: 100%;
}

.product-details-img {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 0.25rem;
    position: relative;
}

.product-details-img-scroll-right img,
.product-details-img-scroll-left img {
    width: 100%;
}

.product-details-img-scroll-right {
    display: flex;
    padding: 0.5rem;
    transform: rotate(270deg);
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    position: absolute;
    bottom: 50%;
    right: 0.75rem;
    cursor: pointer;
    transform-origin: bottom right; 
}

.product-details-img-scroll-left {
    display: flex;
    padding: 0.5rem;
    transform: rotate(90deg);
    width: 3rem;
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 5px;
    position: absolute;
    bottom: 50%;
    left: 0.75rem;
    cursor: pointer;
    transform-origin: bottom left; 
}

.product-details-img-scroll-right:hover,
.product-details-img-scroll-left:hover {
    border: 2px solid var(--text);
}

.product-details-img img {
    width: 100%;
    cursor: pointer;
}

.product-details-img .highlight {
    padding: 0.25rem;
    border: 2px solid var(--text);
}

.product-details-info {
    display: flex;
    flex-direction: column;
}

.product-details-info h1 {
    font-size: var(--font-size-xxxl);
}

.product-details-info-prices {
    display: flex;
    gap: 1.5rem;
    font-size: var(--font-size-xl);
}

.product-details-info-old-price {
    font-weight: 400;
    text-decoration: line-through;
}

.product-details-info-sizes {
    margin: 2rem 0;
}

.product-details-info-sizes p {
    font-size: var(--font-size-xl);
}

.product-details-info-size-wrapper {
    display: flex;
    gap: 1rem;
    margin: 0.5rem 0;
}

.product-details-info-size-wrapper p {
    padding: 0.75rem 2rem;
    border: 2px solid var(--text);
    border-radius:50px;
}

.product-details-info-size-wrapper p.selected {
    background-color: var(--text);
    color: var(--background);
}

.product-details-info-quant-text {
    font-size: var(--font-size-xl);
}

.product-details-info-quant {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.product-details-info-quant-number {
    font-size: var(--font-size-xl);
}


.product-details-info-quant-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 10rem;
    padding: 0.5rem 1rem;
    border: 2px solid var(--text);
}

.product-details-info-quant-icon {
    font-size: var(--font-size-xxxl);
}

.product-details-info-buttons {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
}

.product-details-info-buttons button {
    height: 5rem;
    width: 50%;
    font-size: var(--font-size-xxl);
}

.product-details-info-buttons .add-to-cart {
    color: var(--text);
    background-color: var(--background);
    border: 2px solid var(--text);
}

.product-details-info-description {
    font-size: var(--font-size-xl);
    margin-bottom: 2rem;
}

.product-details-info-collapsible {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem 0;
    border-bottom: 1px solid var(--text);
}

.product-details-info-collapsible-wrapper {
    border-top: 1px solid var(--text);
    padding: 0.5rem 0;
}

.product-details-info-collapsible-wrapper h3 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: var(--font-size-xl);
}

.product-details-info-collapsible-wrapper span {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.product-details-info-collapsible-wrapper span:first-child img {
    width: 1.75rem;
    height: auto;
}

.product-details-info-collapsible-wrapper p {
    display: none;
    font-size: var(--font-size-md);
    padding: 0 1rem;
    letter-spacing: 0.75px;
}

.product-details-info-collapsible-wrapper span:nth-child(2) img {
    width: 1.25rem;
    height: 1.25rem;
    cursor: pointer;
}

.product-details-info-collapsible-wrapper .open {
    padding-top: 0.75rem;
    display: block;
}

.product-recommendations {
    margin-top: 2rem;
}

.product-recommendations h1 {
    font-size: var(--font-size-lg);
    padding-bottom: 1rem;
}

.product-recommendations-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 0.25rem;
}

.product-recommendations-wrapper img {
    width: 100%;
    cursor: pointer;
}


@media (max-width: 767px) {
    .product-details-info {
        margin-top: 2rem;
    }

    .product-details-mobile-header {
        font-size: var(--font-size-xxl);
        width: 100%;
        text-align: start;
    }

    .product-breadcrums {
        display: none;
    }

    .product-details-info h1 {
        display: none;
    }

    .product-details-mobile-item-sale-tag {
        margin: 1rem 0;
        display: flex;
        width: 6rem;
        height: 2.5rem;
        border-radius: 2.5rem;
        justify-content: center;
        align-items: center;
        background-color: var(--primary);
    }

    .product-details-all-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 2rem;
    }
}

@media (min-width: 768px) {
    .product {
        padding-top: 4rem;
        padding-left: 5rem;
        padding-right:5rem;
    }

    .product-details {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .product-details-mobile-header {
        display: none;
    }
    
    .product-details-all-images {
        flex: 1;
        display: flex;
        flex-direction: row-reverse;
        gap: 0.5rem;
        max-width: 25rem;
    }

    .product-details-main-img-wrapper {
        flex: 6;
    }

    .product-details-img {
        flex: 1;
        display: flex;
        flex-direction: column;
    }

    .product-details-main-img-wrapper {
        position: relative;
    }

    .product-details-img-scroll-right img,
    .product-details-img-scroll-left img {
        width: 5rem;
    }

    .product-details-img-scroll-right {
        display: flex;
        padding: 0.5rem;
        transform: rotate(270deg);
        width: 3rem;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        position: absolute;
        bottom:55%;
        right: 0.75rem;
        cursor: pointer;
        transform-origin: bottom right; 
    }

    .product-details-img-scroll-left {
        display: flex;
        padding: 0.5rem;
        transform: rotate(90deg);
        width: 3rem;
        background-color: rgba(255, 255, 255, 0.4);
        border-radius: 5px;
        position: absolute;
        bottom:55%;
        left: 0.75rem;
        cursor: pointer;
        transform-origin: bottom left; 
    }

    .product-details-img-scroll-right:hover,
    .product-details-img-scroll-left:hover {
        border: 2px solid var(--text);
    }

    .product-details-all-images {
        max-width: 100%;
    }
    
    .product-details-info {
        flex: 1;
        min-width: 17rem;
        max-width: 50rem;
    }

    .product-details-info-description p {
        font-size: var(--font-size-xxl);
        line-height: 2.5rem;
    }
    .product-details-info h1 {
        font-size: var(--font-size-xxl);
        padding-bottom: 0.5rem;
    }
    
    .product-details-info-collapsible-wrapper h3 {
        font-size: var(--font-size-xxl);
    }

    .product-details-info-collapsible-wrapper p {
        font-size: var(--font-size-xl);
        line-height: 2.5rem;
    }

    .product-recommendations h1 {
        font-size: var(--font-size-xxl);
    }
}

@media (min-width: 1024px) {
    .product-details {
        display: flex;
        flex-direction: row;
        gap: 2rem;
        align-items: start;
    }

    .product-recommendations h1 {
        font-size: var(--font-size-xxl);
    }
    
    .product-details-info-description p {
        font-size: var(--font-size-xxl);
        line-height: 2.5rem;
    }
    .product-details-info h1 {
        font-size: var(--font-size-xxxl);
        padding-bottom: 2rem;
    }
    
    .product-details-info-collapsible-wrapper h3 {
        font-size: var(--font-size-xxl);
    }

    .product-details-info-collapsible-wrapper p {
        font-size: var(--font-size-xl);
        line-height: 2.5rem;
    }
}

@media (min-width: 1440px) {
    .product-details {
        gap: 3rem;
    }

    .product-recommendations h1 {
        font-size: var(--font-size-xxxl);
    }
}