.items-container {
  display: flex;
  flex-direction: column;
  padding: 3rem 1rem 0rem 1rem;
}

.items-container h1 {
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  padding: 0 0;
}

.item-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  padding: 1rem 0;
}

.items-container button {
  align-self: center;
}

@media (min-width: 768px) {
  .items-container {
    padding: 0 3rem;
  }

  .item-wrapper {
    gap: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .items-container {
    padding: 0 4rem;
  }

  .item-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
  
  .item-wrapper {
    gap: 0.5rem;
  }
}

@media (min-width: 1440px) {

}