.featured {
  display: flex;
  flex-direction: column;
}
.featured h1 {
  font-size: var(--font-size-xxxl);
  font-weight: 500;
  padding: 0 1rem;
}

.featured-items {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 0.25rem;
  padding: 1rem 1rem;
}

.featured button {
  align-self: center;
}