.navbar {
  background-color: var(--background);
  border-bottom: 1px solid var(--dark-shadow-primary); 
  position: relative;
}

.show-nav {
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar-cart-details-wrapper {
  padding: 2rem 3rem;
  display: none;
  position: absolute;
  right: 0rem;
  top: 100%; 
  width: 100%;
  border-top: 1px solid var(--dark-shadow-primary); 
  background-color: var(--primary);
  z-index: 999;
}


.navbar-cart-details-wrapper.active {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar-cart-details-wrapper-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 4rem;
  font-size: var(--font-size-lg);
}

.navbar-cart-details-wrapper-header div:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.navbar-cart-details-wrapper-header div img {
  align-self: center;
  width: 1rem;
  height: 1.25rem;
  cursor: default;
}

.navbar-cart-details-wrapper-header img {
  width: 1.5rem;
  cursor: pointer;
}

.navbar-cart-details-wrapper-items {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem 1.5rem 1rem 0rem;
  margin: 1rem 0;
  max-height: 20rem;
  overflow-y: scroll;
  border-top:2px solid var(--dark-shadow-primary);
  border-bottom:2px solid var(--dark-shadow-primary);
}

.navbar-cart-details-wrapper-item {
  display: flex;
  align-items: start;
  justify-content: space-between;
  gap: 1rem;
}

.navbar-cart-details-wrapper-item p {
  font-size: var(--font-size-xs);
}

.navbar-cart-details-wrapper-item h3 {
  padding: 0.25rem 0;
  font-size: var(--font-size-md);
}

.navbar-cart-details-wrapper-item-detail {
  display: flex;
  flex-direction: column;
  text-wrap: wrap;
  gap: 0.25rem;
  width: 100%;
}

.navbar-cart-details-wrapper-item-detail-quant-size {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 100%;
}

.navbar-cart-details-wrapper-item img {
  width: 7rem;
  margin-bottom: 0.75rem;
}

.navbar-cart-details-wrapper-shipping {
  padding: 1rem 0;
}

.navbar-cart-details-wrapper-shipping span {
  font-weight: 600;
}

.navbar-cart-details-wrapper-item-detail-price {
  align-self: flex-end;
}

.navbar-cart-details-wrapper-total {
  padding-top: 0.25rem;
  align-self: flex-end;
  font-size: var(--font-size-lg);
  font-weight: 600;
}

.navbar-cart-details-wrapper-button {
  padding-bottom: 1.25rem;
}
.navbar-cart-details-wrapper-continue {
  font-size: var(--font-size-lg);
  text-decoration: underline;
  cursor: pointer;
  width: fit-content;
}

.navbar-scroll-up {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.navbar-announcement {
  font-size: var(--font-size-xs);
  text-align: center;
  padding: 0.75rem 0;
  border-bottom: 1px solid var(--dark-shadow-primary); 
  background-color: var(--primary);
}

.navbar-items {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  height: 7rem;
  padding-left: 1rem;
  background-color: var(--primary);
}

.navbar-mobile-menu img {
  display: flex;
  align-items: center;
  width: 1.5rem;
  cursor: pointer;
}

.navbar-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-logo img {
  width: 8rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

.navbar-search-cart {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding-right: 1rem;
  position: relative;
}

.navbar-search-cart img {
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
}

.navbar-cart {
  position: relative;
  cursor: pointer;
}

.navbar-cart p {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.1rem;
  padding-left: 0.1rem;
  bottom: -3px;
  right: -5px;
  background-color: var(--text);
  width: 1.35rem;
  height: 1.35rem;
  color: var(--background);
  font-size: var(--font-size-xxs);
  border-radius: 50%
}

a {
  color: inherit;
}

.navbar-desktop-menu {
  display: none;
}

.navbar-desktop-menu-dropdown-menu {
  position: relative;
  cursor: pointer;
}

.navbar-desktop-menu-dropdown-items {
  display: none; 
  position: absolute;
  background-color: var(--primary);
  top: 2.9rem;
  left: 0;
  z-index: 999;
}

.navbar-desktop-menu-dropdown-items.active {
  display: block; 
  background-color: var(--primary);
}

.navbar-desktop-menu-dropdown-items ul {
  color: var(--text);
  padding: 1.25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  border: 1px solid var(--dark-shadow-primary); 
}

.navbar-desktop-menu-dropdown-items li {
  cursor: pointer;
}

.navbar-desktop-menu-dropdown-items li:hover {
  color: var(--dark-primary);
}

.navbar-mobile-menu-drawer.hidden,
.navbar-mobile-menu-drawer-shopby.hidden
 {
  display: none;
}

.navbar-mobile-menu-drawer,
.navbar-mobile-menu-drawer-shopby {
  z-index: 100;
  width: 25rem;
  height: 85vh;
  background-color: var(--primary);
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: space-between;  
  overflow: hidden;
}

.navbar-mobile-menu-drawer ul,
.navbar-mobile-menu-drawer-shopby ul {
  padding-top: 2rem;
}

.navbar-mobile-menu-drawer li,
.navbar-mobile-menu-drawer-shopby li {
  list-style: none;
  font-size: var(--font-size-xl);
  font-weight: 600;
  padding: 0.75rem 3rem;
}

.navbar-mobile-menu-drawer li img {
  width: 1rem;
  margin-left: 12rem;
}

.navbar-mobile-menu-drawer-shopby li img {
  margin-left: 0rem;
  margin-right: 1rem;
}

.navbar-mobile-menu-drawer-shopby li img {
  transform: rotate(180deg);
}

.navbar-mobile-menu-drawer li:hover,
.navbar-mobile-menu-drawer-shopby li:hover {
  color: var(--dark-primary);
}

@media (min-width: 768px) {
  .navbar-logo img {
    width: 10rem;
  }

  .navbar-items {
    height: 8rem;
  }

  .navbar-items {
    padding-left: 3.5rem;
  }

  .navbar-search-cart {
    gap: 2rem;
    padding-right: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .navbar-search-cart img {
    width: 2rem;
    height: 2rem;
    cursor: pointer;
  }

  .navbar-cart p {
    bottom: -1px;
    right: -5px;
    width: 1.5rem;
    height: 1.5rem;
  }

  .navbar-logo img {
    margin-top: 2rem;
    width: 12rem;
  }

  .navbar-items {
    height: 6rem;
    padding: 0;
  }

  .navbar-mobile-menu {
    display: none;
  }

  .navbar-desktop-menu {
    display: block;
    background-color: var(--primary);
    padding: 2.5rem 0 1rem 0;
  }

  .navbar-desktop-menu ul {
    display: flex;
    gap: 1.75rem;
  }

  .navbar-desktop-menu li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    font-size: var(--font-size-lg);
    gap: 0.5rem;
    font-weight: 600;
  }

  .navbar-desktop-menu li:hover {
    color: var(--dark-primary);
  }

  .navbar-desktop-menu img {
    width: 1rem;
  }

  .navbar-search-cart {
    width: 100%;
    margin: 0;
    padding: 0 6rem;
  }

  .navbar-desktop-menu {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .navbar-cart-details-wrapper.active {
    width: 45%;
  }

  .navbar-cart-details-wrapper-item img {
    width: 7rem;
    margin-bottom: 2rem;
  }

  .navbar-cart-details-wrapper-item h3 {
    padding: 0.25rem 0;
    font-size: var(--font-size-sm);
  }
  
  .navbar-mobile-menu-drawer,
  .navbar-mobile-menu-drawer-shopby {
    display: none;
  }
}

@media (min-width: 1440px) {
  .navbar-cart-details-wrapper.active {
    width: 40%;
  }

  .navbar-cart-details-wrapper-item p {
    font-size: var(--font-size-xxss);
  }

  .navbar-cart-details-wrapper-item img {
    width: 8rem;
    margin-bottom: 2rem;
  }

  .navbar-search-cart img {
    width: 2.25rem;
    height: 2.25rem;
    cursor: pointer;
  }

  .navbar-logo img {
    width: 12rem;
  }

  .navbar-items {
    height: 8rem;
  }
}

.slide-in-left {
	-webkit-animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-in-right {
	-webkit-animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
            transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}

 @-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
            transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
