@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-font-size: 1rem; 
  --font-size-xxxs: 0.4rem;
  --font-size-xxs: 0.5rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 1.75rem;

  --primary: #eedbe1;
  --light-primary: #f1e3e7;
  --dark-primary: #c197a8;
  --shadow-primary: #eadde1;
  --dark-shadow-primary: #dfd2d5;
  --text: #1f1f1f;
  --background: #ffffff;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: var(--base-font-size);
  line-height: 1.5;
  letter-spacing: 1.2px;
}

button {
  color: var(--background);
  background-color: var(--text);
  border: none;
  outline: none;
  font-size: var(--font-size-xl);
  font-weight: 600;
  letter-spacing: 3px;
  padding: 1.25rem 2.5rem;

}

@media (max-width: 767px) {
  button {
    font-size: var(--font-size-xxxs);
    font-weight: 600;
    letter-spacing: 2px;
    padding: 0.5rem 1rem;
  }
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}

@media (min-width: 1440px) {
}