@import url('https://fonts.googleapis.com/css2?family=Quattrocento+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap');

* {
  font-family: 'Quattrocento Sans', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --base-font-size: 1rem; 
  --font-size-xxxs: 0.4rem;
  --font-size-xxs: 0.75rem;
  --font-size-xs: 0.75rem;
  --font-size-sm: 0.875rem;
  --font-size-md: 1rem;
  --font-size-lg: 1.125rem;
  --font-size-xl: 1.25rem;
  --font-size-xxl: 1.5rem;
  --font-size-xxxl: 1.75rem;

  --primary: #eedbe1;
  --light-primary: #f1e3e7;
  --dark-primary: #c197a8;
  --shadow-primary: #eadde1;
  --dark-shadow-primary: #dfd2d5;
  --text: #1f1f1f;
  --background: #ffffff;
}

body {
  color: var(--text);
  background-color: var(--background);
  font-size: var(--base-font-size);
  line-height: 1.5;
  letter-spacing: 1.2px;
}

button {
  color: var(--background);
  background-color: var(--text);
  border: none;
  outline: none;
  font-size: var(--font-size-lg);
  font-weight: 400;
  letter-spacing: 2.5px;
  padding: 1.25rem 2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

button:hover {
  box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.4);
}

button:active {
  transform: scale(1.01);
}

.scroll-to-top {
  position: fixed;
  width: 3rem;
  bottom: 2rem;
  right: 2rem;
  cursor: pointer;
  z-index: 999;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.3);
}

.scroll-to-top img {
  padding: 0.5rem;
  width: 100%;
  transform: rotate(180deg)
}

@media (max-width: 767px) {

}

@media (min-width: 768px) {
  :root {
    --font-size-xxxs: 0.4rem;
    --font-size-xxs: 0.75rem;
    --font-size-xs: 0.75rem;
    --font-size-sm: 1rem;
    --font-size-md: 1rem;
    --font-size-lg: 1.125rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;
    --font-size-xxxl: 2.5rem;  
  }
}

@media (min-width: 1024px) {
  :root {
    --font-size-xxxs: 0.4rem;
    --font-size-xxs:0.75rem;
    --font-size-xs: 1rem;
    --font-size-sm: 1rem;
    --font-size-md: 1.25rem;
    --font-size-lg: 1.25rem;
    --font-size-xl: 1.25rem;
    --font-size-xxl: 1.5rem;
    --font-size-xxxl: 2.5rem;  
  }
}

@media (min-width: 1440px) {
  :root {
     --font-size-xxxs: 0.4rem;
      --font-size-xxs:0.75rem;
      --font-size-xs: 1.25rem;
      --font-size-sm: 1.25rem;
      --font-size-md: 1.25rem;
      --font-size-lg: 1.5rem;
      --font-size-xl: 1.25rem;
      --font-size-xxl: 1.5rem;
      --font-size-xxxl: 2.5rem;  
  }
}

@media (max-width: 767px) {

}

@media (min-width: 768px) {

}

@media (min-width: 1024px) {

}

@media (min-width: 1440px) {

}